.Create_report-body{
    background-image: url(../../images/logo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    overflow: auto;
}

#Create_report-form{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 40px;
}

/*Report_form */
.Report_form-body{
    display: flex;
    flex-flow: column;
}
table~button{
    border-radius: 20px;
    height: 40px;
    color: white;
    width: 90px;
    border: none;
    background-color: #FF8C00;
    font-family: comic Sans Ms;
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px auto 0px auto;
}

table input[type=text],input[type=number],input[type=email]{
    border: 0px !important;
    border-radius: 0px !important;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-family: comic Sans Ms !important;
}

table{
    border-radius: 20px;
    overflow: hidden;
}

td:nth-child(1){
    background-color: #00948F;
    font-weight: bold;
    color: white;
    text-align: right;
}

td:nth-child(2){
    background-color:white;
    color: black;
}

td{
    padding: 3px;
    height: 40px;
}

#sexCell{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 0px 40px;
}