.List_reports-body{
    background-image: url(../../images/logo2.png);
    height:100%;
    min-height: 100%;
    background-size: cover;
    overflow-y: auto;
}

.List_reports-all{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}
.List_reports-all:after{
  content: "";
  clear: both;
}

.List_reports-button-image{
    margin-left: 3%;
    margin-top: 50px;
    display: inline-block;
}

.List_reports-button-image button{
  background: url("../../images/button.png");
  background-size: 55px 65px;
  background-color: rgba(0, 0, 0, 0);
  min-height: 65px;
  min-width: 55px;
  background-repeat: no-repeat;
  border: none;
}

.Report-rectangle-image{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    background: url('../../images/rectangle.png');
    background-repeat: no-repeat;
    background-size: 150px 140px;
    height: 140px;
    width: 150px;
    text-align: center;
  }
  
  .Report-rectangle-image p{
    font-size: 0.8em;
    color: white;
    display: inline-block;
  }
  
  .Report-rectangle-image img{
    position: relative;
    height: 80px;
    width: 80px;
    margin: 10px auto 5px auto;
    
  }

.Report-body{
    max-width: 150px;
    max-height: 140px;
    position: relative;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 3%;
}

.Report-ellipsis{
    color:white;
    margin-left: 90px;
    position: absolute;
    z-index: 1;
    right: -2px;
    top: 5px;
}

.list_reports-status{
    margin-left: 10px;
    text-align: center;
    padding-right: 5px;
  }