.Create_report-body{
    overflow: auto;
}
.wrap{
    display: flex;
    justify-content: space-around;
}

.tables{
    display: flex;
    justify-content: space-around;
    flex-flow: column;
}

.wrap table{
    margin-top: 20px;
    border-radius: 0px;

}

.wrap td:nth-child(1){
    background-color: white;
    font-weight: bold;
    color: black;
    text-align: right;
}

.wrap table input[type=text],input[type=number],input[type=email]{
    border: 0px !important;
    border-radius: 0px !important;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-family: comic Sans Ms !important;
}