.Add_tutor-body{
    background-image: url(../../images/logo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

#Add_tutor-form{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/*Tutor report*/
.Tutor-form-body{
    display: flex;
    flex-flow: column;
}

