*{
    font-family: comic Sans Ms;
}

body,html,#root{
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 1000px
}
/*common_footer*/
.Common_footer{
    background-image: url(../images/group2.png);
    height:20px;
    background-color:rgb(0, 123, 72 , 10.0);
    padding-top: 4px;
}
.Common_footer_content{
    color: white;
    text-align: center;
    font-size: 0.7em;
}

/*Developer-footer*/
.Developer_footer{
    background-image: url(../images/group2.png);
    height:20px;
    background-color:#0089AC;
    padding-top: 4px;
}
.Developer_footer_content{
    color: white;
    text-align: center;
    font-size: 0.7em;
}

/*About_footer*/
.About_footer{
    background-color:#00A45F;
    height:70px;
    display: flex;
    justify-content: center;
    color: white;
}
.About_footer ul{  
    list-style: none;

}
.About_footer ul li a{
    text-transform: uppercase;
    font-size: 0.6em;
    color: white;    
}

.footer-column
{
    margin-top: -10px;
}

.center-column{
    margin: -10px 25% 0px 25%;
}
/*home_header*/
.Home_header-headerDiv {
    height: 70px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  .Home_header-logoDiv {
    background-image: url(../images/slogo.png);
    background-position: center;
    height: 70px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: -5px;
    margin-left: 4%;
  }
  .Home_header-navBar {
    margin-right: 4%;
    margin-top: 14px;
  }
  .Home_header-navBar ul {
    list-style: none;
    margin-top: 0px;
  }
  
  .Home_header-navBar ul li {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    font-size: 15px;
    padding: 7px;
  }

  .Home_header-navBar ul li:hover {
    color: #FFC000;
  }
  
.Home_header-navBar ul .active {
    padding: 7px;
    background-color: #FFBB00;
    color: white;
}

  .Home_header-navBar ul .active:hover{
    color: white;
  }

  /*About_header*/
.About_header-headerDiv {
    background-image: url(../images/header_bg.png);
    background-color:rgba(0, 137, 172, 100.0);
    height: 70px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.About_header-logoDiv{
    background-image: url(../images/logo_s2.png);
    width: 80px;
    height: 80px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin-top: -14px;
    margin-left: 4%;
}

.About_header-navBar{
    margin-right: 4%;
    margin-top: 14px;
}
.About_header-navBar ul {
    list-style: none;
    margin-top: 0px;
}

.About_header-navBar ul li
{
    display: inline;
}

.About_header-navBar ul li {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 7px;
    color: white;
  
}
.About_header-navBar ul .active {
    color:#0089AC;
    background-color:#FFC000;
}

.About_header-navBar ul .active:hover {
    color: #0089AC;
}

.About_header-navBar ul li:hover {
    color: #FFC000;
}

/*common-header*/
.Common_header-headerDiv {
    background-image: url(../images/header_bg.png);
    background-color:rgba(0, 137, 172, 100.0);
    height: 50px;
    width: 100%;
    position: relative;
}

.Common_header-profile_block{
    position: relative;
    display: inline-block;
    margin-top: 5px;
    margin-left: 4%;
}

.Common_header-profile_block::after{
    content: "";
    clear: both;
}

.Common_header-profile{
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: gray;
    overflow: hidden;
}

.dropdown-icon{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 16px 10px;
    height:15px;
    width: 21px;
    margin-left: 10px;
}

.Common_header-navBar{
    margin-right: 4%;
    margin-top: 14px;
    float:right;
}

.Common_header-navBar ul {
    list-style: none;
    margin-top: 0px;
}

.Common_header-navBar ul li {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    display: inline;
}
.Common_header-navBar ul .active{
    padding: 7px;
    background-color: #FFBB00;
    color: #007694;
}

.Common_header-navBar ul .active:hover {
    color: #007694;

}

.Common_header-navBar ul :hover {
    color: #FFC000;

}

.Common_header-navBar::before{
    content: "";
    clear: both;
}

.Common_header-title01 {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.Common_header-text_input
{
    font-size: 1.5em;
    font-family: comic Sans Ms;
    color: white;
    font-weight: bold;
    position: absolute;
    display: inline-block;
    width: 50%;
    margin-top: 10px;
    margin-left: 15%;
}

.Common_header-text_input p{
    text-align: center;

}

.Common_header-dropdown-content{
    position: absolute;
    background-color: white;
    border: #007694;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 1.2px;
    border-style: solid;
    z-index: 1;
    margin-left: 1%;
    line-height: 2.5em;
    padding: 0px;
    width: 210px;
}
.Common_header-dropdown-content li{
    font-size: 12px;
    font-family: Comic Sans MS;
    font-weight: bold;
    text-align: center;
    display: block;
    border: none;
    color: black;
    width: 200px;
    max-width: 170px;
    border-bottom: 1.2px solid #007694;
}
.Common_header-dropdown-content ul {
    list-style: none;
    margin-left: -20px;
    margin-top: -5px;
}
/*Help header*/
.Help_header-headerDiv{
    background-image: url(../images/header_bg.png);
    background-color:rgba(0, 137, 172,100.0);
    height: 500px;
    width: 100%;
    position: relative;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.Help_header-logoDiv{
    background-image: url(../images/logo_s2.png);
    width: 80px;
    height: 80px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin-top: -14px;
    margin-left:4%;
}
.Help_header-navBar{
    margin-right: 4%;
    margin-top: 14px;
}
.Help_header-navBar ul{
    list-style: none;
    margin-top:0px;
}
.Help_header-navBar ul li{
    display: inline;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding:7px;
    color: white;
}
.Help_header-navBar ul .active{
    color: #0089AC;
    background-color: #FFC000;
}
.Help_page-title {
    font-family: comic Sans Ms;
    color:white;
    font-size: 4em;
    padding: 120px 0px 0px 10%;
}

/*Developer-header*/

.Developer_header-headerDiv {
    background-image: url(../images/header_bg.png);
    background-color:#00A45F;
    height: 50px;
    width: 100%;
    position: relative;
}

.Developer_header-profile_block{
    position: relative;
    display: inline-block;
    margin-top: 5px;
    margin-left: 4%;
}

.Developer_header-profile_block::after{
    content: "";
    clear: both;
}

.Developer_header-profile{
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: gray;
    overflow: hidden;
}



.Developer_header-title01 {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.Developer_header-text_input
{
    font-size: 1.5em;
    font-family: comic Sans Ms;
    color: white;
    font-weight: bold;
    position: absolute;
    display: inline-block;
    width: 50%;
    margin-top: 10px;
    margin-left: 15%;
}

.Developer_header-text_input p{
    text-align: center;

}

.Developer_header-dropdown-content{
    position: absolute;
    background-color: white;
    border: #007694;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 1.2px;
    border-style: solid;
    z-index: 1;
    margin-left: 1%;
    line-height: 2.5em;
    padding: 0px;
    width: 210px;
}
.Developer_header-dropdown-content li{
    font-size: 12px;
    font-family: Comic Sans MS;
    font-weight: bold;
    text-align: center;
    display: block;
    border: none;
    color: black;
    width: 200px;
    max-width: 170px;
    border-bottom: 1.2px solid #007694;
}
.Developer_header-dropdown-content ul {
    list-style: none;
    margin-left: -20px;
    margin-top: -5px;
}


/*Developer_home_header*/
.Developer_home_header-headerDiv {
    height: 70px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  .Developer_home_header-logoDiv {
    background-image: url(../images/slogo.png);
    background-position: center;
    height: 70px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: -5px;
    margin-left: 4%;
  }

  /*all buttons*/
  button{
      cursor: pointer;
  }